// COLORS
$dark: #052d40;
$white: #fff;
$black: #000;
$gray: #a8a8a8;
$darkGray: #666666;
$lightGray: #f0f0f0;
$primary: #3d77c3;
$red: #C74A46;


// FONTS
$heading-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$body-font-family: 'Merriweather', Helvetica, sans-serif;